[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/bundle/gundo"]
	path = .vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule ".vim/bundle/pydoc.vim"]
	path = .vim/bundle/pydoc.vim
	url = https://github.com/fs111/pydoc.vim
[submodule ".vim/bundle/scrollColors"]
	path = .vim/bundle/scrollColors
	url = https://github.com/vim-scripts/ScrollColors.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/vim-virtualenv"]
	path = .vim/bundle/vim-virtualenv
	url = https://github.com/jmcantrell/vim-virtualenv.git
[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/vim-less"]
	path = .vim/bundle/vim-less
	url = https://github.com/vim-scripts/vim-less--Vioni.git
[submodule ".vim/bundle/openvpn"]
	path = .vim/bundle/openvpn
	url = https://github.com/vim-scripts/openvpn.git
[submodule ".vim/bundle/autoswap"]
	path = .vim/bundle/autoswap
	url = https://github.com/vim-scripts/autoswap.vim.git
[submodule ".vim/bundle/bash-support"]
	path = .vim/bundle/bash-support
	url = https://github.com/vim-scripts/bash-support.vim.git
[submodule ".vim/bundle/awk-support"]
	path = .vim/bundle/awk-support
	url = https://github.com/vim-scripts/awk-support.vim.git
[submodule ".vim/bundle/improved-ansiesc"]
	path = .vim/bundle/improved-ansiesc
	url = https://github.com/vim-scripts/Improved-AnsiEsc.git
[submodule ".vim/bundle/perl-support"]
	path = .vim/bundle/perl-support
	url = https://github.com/vim-scripts/perl-support.vim.git
[submodule ".vim/bundle/patchreview"]
	path = .vim/bundle/patchreview
	url = https://github.com/vim-scripts/patchreview.vim.git
[submodule ".vim/bundle/tSkeleton"]
	path = .vim/bundle/tSkeleton
	url = https://github.com/vim-scripts/tSkeleton.git
[submodule ".vim/bundle/Licenses"]
	path = .vim/bundle/Licenses
	url = https://github.com/vim-scripts/Licenses.git
[submodule ".vim/bundle/diffchar"]
	path = .vim/bundle/diffchar
	url = https://github.com/vim-scripts/diffchar.vim.git
[submodule ".vim/bundle/wildfire"]
	path = .vim/bundle/wildfire
	url = https://github.com/gcmt/wildfire.vim.git
[submodule ".vim/bundle/iptables"]
	path = .vim/bundle/iptables
	url = https://github.com/vim-scripts/iptables.git
[submodule ".vim/bundle/vim-bookmark"]
	path = .vim/bundle/vim-bookmark
	url = https://github.com/vim-scripts/vim-bookmarks.git
[submodule ".vim/bundle/viki_vim"]
	path = .vim/bundle/viki_vim
	url = https://github.com/tomtom/viki_vim.git
[submodule ".vim/bundle/tlib"]
	path = .vim/bundle/tlib
	url = https://github.com/vim-scripts/tlib.git
[submodule ".vim/bundle/spec"]
	path = .vim/bundle/spec
	url = https://github.com/vim-scripts/spec.vim.git
[submodule ".vim/bundle/taskpaper"]
	path = .vim/bundle/taskpaper
	url = https://github.com/davidoc/taskpaper.vim.git
[submodule ".vim/bundle/project"]
	path = .vim/bundle/project
	url = https://github.com/vimplugin/project.vim.git
[submodule ".vim/bundle/xmledit"]
	path = .vim/bundle/xmledit
	url = https://github.com/sukima/xmledit.git
[submodule ".vim/bundle/rscvers"]
	path = .vim/bundle/rscvers
	url = https://github.com/vim-scripts/rcsvers.vim.git
[submodule ".vim/bundle/snipMate"]
	path = .vim/bundle/snipMate
	url = https://github.com/garbas/vim-snipmate.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/utl.vim"]
	path = .vim/bundle/utl.vim
	url = https://github.com/vim-scripts/utl.vim.git
[submodule ".vim/bundle/sqlutils"]
	path = .vim/bundle/sqlutils
	url = https://github.com/vim-scripts/SQLUtilities.git
[submodule ".vim/bundle/vim-addon-mw-utils"]
	path = .vim/bundle/vim-addon-mw-utils
	url = https://github.com/vim-scripts/vim-addon-mw-utils.git
[submodule ".vim/bundle/vim-commentary"]
	path = .vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/bundle/multivals.vim"]
	path = .vim/bundle/multivals.vim
	url = https://github.com/vim-scripts/multvals.vim.git
[submodule ".vim/bundle/ShowMarks"]
	path = .vim/bundle/ShowMarks
	url = https://github.com/vim-scripts/ShowMarks.git
[submodule ".vim/bundle/genutils"]
	path = .vim/bundle/genutils
	url = https://github.com/vim-scripts/genutils.git
[submodule ".vim/bundle/bufferlist"]
	path = .vim/bundle/bufferlist
	url = https://github.com/vim-scripts/bufferlist.vim.git
[submodule ".vim/bundle/vim-afterimage"]
	path = .vim/bundle/vim-afterimage
	url = https://github.com/tpope/vim-afterimage.git
[submodule ".vim/bundle/vim-jdaddy"]
	path = .vim/bundle/vim-jdaddy
	url = https://github.com/tpope/vim-jdaddy.git
[submodule ".vim/bundle/viewdoc"]
	path = .vim/bundle/viewdoc
	url = https://github.com/vim-scripts/viewdoc.git
[submodule "/home/folti/.vim/bundle/vim-geeknote"]
	path = .vim/bundle/vim-geeknote
	url = https://github.com/neilagabriel/vim-geeknote
[submodule ".vim/bundle/Colour-Sampler-Pack"]
	path = .vim/bundle/Colour-Sampler-Pack
	url = http://github.com/vim-scripts/Colour-Sampler-Pack
[submodule ".vim/bundle/vim-desert-warm-256"]
	path = .vim/bundle/vim-desert-warm-256
	url = https://github.com/rainux/vim-desert-warm-256.git
[submodule ".vim/bundle/salt-vim"]
	path = .vim/bundle/salt-vim
	url = https://github.com/saltstack/salt-vim.git
[submodule ".vim/bundle/Dockerfile.vim"]
	path = .vim/bundle/Dockerfile.vim
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-devicons"]
	path = .vim/bundle/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule ".vim/bundle/css.vim"]
	path = .vim/bundle/css.vim
	url = https://github.com/JulesWang/css.vim
[submodule ".vim/bundle/gv.vim"]
	path = .vim/bundle/gv.vim
	url = https://github.com/junegunn/gv.vim.git
