[submodule ".vim/bundle/color-sampler-pack"]
	path = .vim/bundle/color-sampler-pack
	url = https://github.com/vim-scripts/Color-Sampler-Pack.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
